[class^="zomojianim-72"] {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(120);
    animation-name: zomojianim-72;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    image-rendering: -webkit-optimize-contrast;
    height: 72px;
    width: 72px;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
}


@keyframes zomojianim-72 {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8761px;
    }
}

@-webkit-keyframes zomojianim-72 {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8761px;
    }
}

@-moz-keyframes zomojianim-72 {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8761px;
    }
}

@keyframes zomojianim-72-angry {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8759px;
    }
}

@-webkit-keyframes zomojianim-72-angry {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8759px;
    }
}

@-moz-keyframes zomojianim-72-angry {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8759px;
    }
}

@keyframes zomojianim-72-athlete {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -1751px;
    }
}

@-webkit-keyframes zomojianim-72-athlete {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -1751px;
    }
}

@-moz-keyframes zomojianim-72-athlete {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -1751px;
    }
}

@keyframes zomojianim-72-discus {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7666px;
    }
}

@-webkit-keyframes zomojianim-72-discus {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7666px;
    }
}

@-moz-keyframes zomojianim-72-discus {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7666px;
    }
}

@keyframes zomojianim-72-equestrian {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5841px;
    }
}

@-webkit-keyframes zomojianim-72-equestrian {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5841px;
    }
}

@-moz-keyframes zomojianim-72-equestrian {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5841px;
    }
}

@keyframes zomojianim-72-javelin {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7958px;
    }
}

@-webkit-keyframes zomojianim-72-javelin {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7958px;
    }
}

@-moz-keyframes zomojianim-72-javelin {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7958px;
    }
}

@keyframes zomojianim-72-judo {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5914px;
    }
}

@-webkit-keyframes zomojianim-72-judo {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5914px;
    }
}

@-moz-keyframes zomojianim-72-judo {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5914px;
    }
}

@keyframes zomojianim-72-jump {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7374px;
    }
}

@-webkit-keyframes zomojianim-72-jump {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7374px;
    }
}

@-moz-keyframes zomojianim-72-jump {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7374px;
    }
}

@keyframes zomojianim-72-shortput {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8104px;
    }
}

@-webkit-keyframes zomojianim-72-shortput {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8104px;
    }
}

@-moz-keyframes zomojianim-72-shortput {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -8104px;
    }
}

@keyframes zomojianim-72-fire {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7155px;
    }
}

@-webkit-keyframes zomojianim-72-fire {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7155px;
    }
}

@-moz-keyframes zomojianim-72-fire {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -7155px;
    }
}

@keyframes zomojianim-72-diver {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4746px;
    }
}

@-webkit-keyframes zomojianim-72-diver {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4746px;
    }
}

@-moz-keyframes zomojianim-72-diver {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4746px;
    }
}


.zomojianim-72-anxious {
    background: url(/images/live/72/anxious.png);
}

.zomojianim-72-awe {
    background: url(/images/live/72/awe.png) no-repeat;
}

.zomojianim-72-blush {
    background: url(/images/live/72/blush.png) no-repeat;
}

.zomojianim-72-bored {
    background: url(/images/live/72/bored.png) no-repeat;
}

.zomojianim-72-cool {
    background: url(/images/live/72/cool.png) no-repeat;
}

.zomojianim-72-curious {
    background: url(/images/live/72/curious.png) no-repeat;
}

.zomojianim-72-doubt {
    background: url(/images/live/72/doubt.png) no-repeat;
}

.zomojianim-72-evil {
    background: url(/images/live/72/evil.png) no-repeat;
}

.zomojianim-72-facepalm {
    background: url(/images/live/72/facepalm.png) no-repeat;
}

.zomojianim-72-faint {
    background: url(/images/live/72/faint.png) no-repeat;
}

.zomojianim-72-feeling-warm {
    background: url(/images/live/72/feeling-warm.png) no-repeat;
}

.zomojianim-72-feeling-cold {
    background: url(/images/live/72/feeling-cold.png) no-repeat;
}

.zomojianim-72-grinning {
    background: url(/images/live/72/grinning.png) no-repeat;
}

.zomojianim-72-happy {
    background: url(/images/live/72/happy.png) no-repeat;
}

.zomojianim-72-headache {
    background: url(/images/live/72/headache.png) no-repeat;
}

.zomojianim-72-idea {
    background: url(/images/live/72/idea.png) no-repeat;
}

.zomojianim-72-injured {
    background: url(/images/live/72/injured.png) no-repeat;
}

.zomojianim-72-jealous {
    background: url(/images/live/72/jealous.png) no-repeat;
}

.zomojianim-72-joy {
    background: url(/images/live/72/joy.png) no-repeat;
}

.zomojianim-72-keep-quiet {
    background: url(/images/live/72/keep-quiet.png) no-repeat;
}

.zomojianim-72-love {
    background: url(/images/live/72/love.png) no-repeat;
}

.zomojianim-72-neutral {
    background: url(/images/live/72/neutral.png) no-repeat;
}

.zomojianim-72-peace {
    background: url(/images/live/72/peace.png) no-repeat;
}

.zomojianim-72-razz {
    background: url(/images/live/72/razz.png) no-repeat;
}

.zomojianim-72-relaxed {
    background: url(/images/live/72/relaxed.png) no-repeat;
}

.zomojianim-72-sad {
    background: url(/images/live/72/sad.png) no-repeat;
}

.zomojianim-72-search {
    background: url(/images/live/72/search.png) no-repeat;
}

.zomojianim-72-sick {
    background: url(/images/live/72/sick.png) no-repeat;
}

.zomojianim-72-sleepy {
    background: url(/images/live/72/sleepy.png) no-repeat;
}

.zomojianim-72-smile {
    background: url(/images/live/72/smile.png) no-repeat;
}

.zomojianim-72-smirk {
    background: url(/images/live/72/smirk.png) no-repeat;
}

.zomojianim-72-stressed-out {
    background: url(/images/live/72/stressed-out.png) no-repeat;
}

.zomojianim-72-surprise {
    background: url(/images/live/72/surprise.png) no-repeat;
}

.zomojianim-72-tensed {
    background: url(/images/live/72/tensed.png) no-repeat;
}

.zomojianim-72-thinking {
    background: url(/images/live/72/thinking.png) no-repeat;
}

.zomojianim-72-tired {
    background: url(/images/live/72/tired.png) no-repeat;
}

.zomojianim-72-upset {
    background: url(/images/live/72/upset.png) no-repeat;
}

.zomojianim-72-wink {
    background: url(/images/live/72/wink.png) no-repeat;
}

.zomojianim-72-worry {
    background: url(/images/live/72/worry.png) no-repeat;
}

.zomojianim-72-yuck {
    background: url(/images/live/72/yuck.png) no-repeat;
}

.zomojianim-72-yummy {
    background: url(/images/live/72/yummy.png) no-repeat;
}

.zomojianim-72-biceps {
    background: url(/images/live/72/biceps.png) no-repeat;
}

.zomojianim-72-bye-bye {
    background: url(/images/live/72/bye-bye.png) no-repeat;
}

.zomojianim-72-clap {
    background: url(/images/live/72/clap.png) no-repeat;
}

.zomojianim-72-fist {
    background: url(/images/live/72/fist.png) no-repeat;
}

.zomojianim-72-namaste {
    background: url(/images/live/72/namaste.png) no-repeat;
}

.zomojianim-72-raising-hand {
    background: url(/images/live/72/raising-hand.png) no-repeat;
}

.zomojianim-72-super {
    background: url(/images/live/72/super.png) no-repeat;
}

.zomojianim-72-thumbsdown {
    background: url(/images/live/72/thumbsdown.png) no-repeat;
}

.zomojianim-72-thumbsup {
    background: url(/images/live/72/thumbsup.png) no-repeat;
}

.zomojianim-72-victory {
    background: url(/images/live/72/victory.png) no-repeat;
}

.zomojianim-72-yoyo {
    background: url(/images/live/72/yoyo.png) no-repeat;
}

.zomojianim-72-birthday {
    background: url(/images/live/72/birthday.png) no-repeat;
}

.zomojianim-72-christmas-tree {
    background: url(/images/live/72/christmas-tree.png) no-repeat;
}

.zomojianim-72-coffee-cup {
    background: url(/images/live/72/coffee-cup.png) no-repeat;
}

.zomojianim-72-eid-mubarak {
    background: url(/images/live/72/eid-mubarak.png) no-repeat;
}

.zomojianim-72-fireworks {
    background: url(/images/live/72/fireworks.png) no-repeat;
}

.zomojianim-72-food {
    background: url(/images/live/72/food.png) no-repeat;
}

.zomojianim-72-gift-box {
    background: url(/images/live/72/gift-box.png) no-repeat;
}

.zomojianim-72-kaaba {
    background: url(/images/live/72/kaaba.png) no-repeat;
}

.zomojianim-72-new-year {
    background: url(/images/live/72/new-year.png) no-repeat;
}

.zomojianim-72-party {
    background: url(/images/live/72/party.png) no-repeat;
}

.zomojianim-72-santa-hat {
    background: url(/images/live/72/santa-hat.png) no-repeat;
}

.zomojianim-72-fire {
    background: url(/images/live/72/fire.png) no-repeat;
    animation-timing-function: steps(98);
    animation-duration: 3s;
    animation-name: zomojianim-72-fire;
}

.zomojianim-72-medicine {
    background: url(/images/live/72/medicine.png) no-repeat;
}

.zomojianim-72-poop {
    background: url(/images/live/72/poop.png) no-repeat;
}

.zomojianim-72-flag {
    background: url(/images/live/72/flag.png) no-repeat;
}

.zomojianim-72-table-tennis {
    background: url(/images/live/72/table-tennis.png) no-repeat;
}

.zomojianim-72-canoeing {
    background: url(/images/live/72/canoeing.png) no-repeat;
}

.zomojianim-72-archer {
    background: url(/images/live/72/archer.png) no-repeat;
}

.zomojianim-72-boxer {
    background: url(/images/live/72/boxer.png) no-repeat;
}

.zomojianim-72-badminton {
    background: url(/images/live/72/badminton.png) no-repeat;
}

.zomojianim-72-chess {
    background: url(/images/live/72/chess.png) no-repeat;
}

.zomojianim-72-snooker {
    background: url(/images/live/72/snooker.png) no-repeat;
}

.zomojianim-72-baseball {
    background: url(/images/live/72/baseball.png) no-repeat;
}

.zomojianim-72-cricket {
    background: url(/images/live/72/cricket.png) no-repeat;
}

.zomojianim-72-foosball {
    background: url(/images/live/72/foosball.png) no-repeat;
}

.zomojianim-72-basketball {
    background: url(/images/live/72/basketball.png) no-repeat;
}

.zomojianim-72-shooter {
    background: url(/images/live/72/shooter.png) no-repeat;
}

.zomojianim-72-fencer {
    background: url(/images/live/72/fencer.png) no-repeat;
}

.zomojianim-72-football {
    background: url(/images/live/72/football.png) no-repeat;
}

.zomojianim-72-hockey {
    background: url(/images/live/72/hockey.png) no-repeat;
}

.zomojianim-72-hurdler {
    background: url(/images/live/72/hurdler.png) no-repeat;
}

.zomojianim-72-pole-vault {
    background: url(/images/live/72/pole-vault.png) no-repeat;
}

.zomojianim-72-rhythmic-gymnastics {
    background: url(/images/live/72/rhythmic-gymnastics.png) no-repeat;
}

.zomojianim-72-discus-throw {
    background: url(/images/live/72/discus-throw.png) no-repeat;
    animation-timing-function: steps(105);
    animation-duration: 3s;
    animation-name: zomojianim-72-discus
}

.zomojianim-72-diver {
    background: url(/images/live/72/diver.png) no-repeat;
    animation-timing-function: steps(65);
    animation-duration: 3s;
    animation-name: zomojianim-72-diver
}

.zomojianim-72-equestrian {
    background: url(/images/live/72/equestrian.png) no-repeat;
    animation-timing-function: steps(80);
    animation-duration: 3s;
    animation-name: zomojianim-72-equestrian
}

.zomojianim-72-javelin-throw {
    background: url(/images/live/72/javelin-throw.png) no-repeat;
    animation-timing-function: steps(109);
    animation-duration: 3s;
    animation-name: zomojianim-72-javelin
}

.zomojianim-72-judo {
    background: url(/images/live/72/judo.png) no-repeat;
    animation-timing-function: steps(81);
    animation-duration: 3s;
    animation-name: zomojianim-72-judo
}

.zomojianim-72-long-jump {
    background: url(/images/live/72/long-jump.png) no-repeat;
    animation-timing-function: steps(101);
    animation-duration: 3s;
    animation-name: zomojianim-72-jump
}

.zomojianim-72-athlete {
    background: url(/images/live/72/athlete.png) no-repeat;
    animation-timing-function: steps(24);
    animation-duration: 1s;
    animation-name: zomojianim-72-athlete;
}

.zomojianim-72-shotput-throw {
    background: url(/images/live/72/shotput-throw.png) no-repeat;
    animation-timing-function: steps(111);
    animation-duration: 3s;
    animation-name: zomojianim-72-shortput
}

.zomojianim-72-high-jump {
    background: url(/images/live/72/high-jump.png) no-repeat;
    animation-timing-function: steps(101);
    animation-duration: 3s;
    animation-name: zomojianim-72-jump
}

.zomojianim-72-angry {
    background: url(/images/live/72/angry.png) no-repeat;
    animation-name: zomojianim-72-angry;
}
