/* Retina Animation */
[class^="zomojianim-48"] {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(120);
    animation-name: zomojianim-48;
    background-repeat: no-repeat;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    image-rendering: -webkit-optimize-contrast;
    height: 48px;
    width: 48px;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
}

@keyframes zomojianim-48 {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0px -5881px;
    }
}
@-webkit-keyframes zomojianim-48 {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5881px;
    }
}
@-moz-keyframes zomojianim-48 {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5881px;
    }
}

@keyframes zomojianim-48-anxious {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5761px;
    }
}
@-webkit-keyframes zomojianim-48-anxious {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5761px;
    }
}
@-moz-keyframes zomojianim-48-anxious {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5761px;
    }
}

@keyframes zomojianim-48-athelete {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -1177px;
    }
}
@-webkit-keyframes zomojianim-48-athelete {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -1177px;
    }
}
@-moz-keyframes zomojianim-48-athelete {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -1177px;
    }
}

@keyframes zomojianim-48-discus {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5146px;
    }
}
@-webkit-keyframes zomojianim-48-discus {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5146px;
    }
}
@-moz-keyframes zomojianim-48-discus {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5146px;
    }
}

@keyframes zomojianim-48-equestrian {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3921px;
    }
}
@-webkit-keyframes zomojianim-48-equestrian {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3921px;
    }
}
@-moz-keyframes zomojianim-48-equestrian {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3921px;
    }
}

@keyframes zomojianim-48-javelin {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5342px;
    }
}
@-webkit-keyframes zomojianim-48-javelin {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5342px;
    }
}
@-moz-keyframes zomojianim-48-javelin {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5342px;
    }
}

@keyframes zomojianim-48-judo {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3970px;
    }
}
@-webkit-keyframes zomojianim-48-judo {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3970px;
    }
}
@-moz-keyframes zomojianim-48-judo {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3970px;
    }
}

@keyframes zomojianim-48-jump {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4950px;
    }
}
@-webkit-keyframes zomojianim-48-jump {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4950px;
    }
}
@-moz-keyframes zomojianim-48-jump {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4950px;
    }
}

@keyframes zomojianim-48-shortput {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5440px;
    }
}
@-webkit-keyframes zomojianim-48-shortput {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5440px;
    }
}
@-moz-keyframes zomojianim-48-shortput {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -5440px;
    }
}

@keyframes zomojianim-48-fire {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4803px;
    }
}
@-webkit-keyframes zomojianim-48-fire {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4803px;
    }
}
@-moz-keyframes zomojianim-48-fire {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -4803px;
    }
}

@keyframes zomojianim-48-diver {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3186px;
    }
}
@-webkit-keyframes zomojianim-48-diver {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3186px;
    }
}
@-moz-keyframes zomojianim-48-diver {
    0% {
        background-position: 0 -1px;
    }
    100% {
        background-position: 0 -3186px;
    }
}

/* Retina-specific stuff here */
.zomojianim-48-angry {
    background-image: url(/images/live/48/angry.png);
}
.zomojianim-48-anxious {
    animation-duration: 4s;
    animation-name: zomojianim-48-anxious;
    background-image: url(/images/live/48/anxious.png);
}
.zomojianim-48-awe {
    background-image: url(/images/live/48/awe.png);
}
.zomojianim-48-blush {
    background-image: url(/images/live/48/blush.png);
}
.zomojianim-48-bored {
    background-image: url(/images/live/48/bored.png);
}
.zomojianim-48-cool {
    background-image: url(/images/live/48/cool.png);
}
.zomojianim-48-curious {
    background-image: url(/images/live/48/curious.png);
}
.zomojianim-48-doubt {
    background-image: url(/images/live/48/doubt.png);
}
.zomojianim-48-evil {
    background-image: url(/images/live/48/evil.png);
}
.zomojianim-48-facepalm {
    background-image: url(/images/live/48/facepalm.png);
}
.zomojianim-48-faint {
    background-image: url(/images/live/48/faint.png);
}
.zomojianim-48-feeling-warm {
    background-image: url(/images/live/48/feeling-warm.png);
}
.zomojianim-48-feeling-cold {
    background-image: url(/images/live/48/feeling-cold.png);
}
.zomojianim-48-grinning {
    background-image: url(/images/live/48/grinning.png);
}
.zomojianim-48-happy {
    background-image: url(/images/live/48/happy.png);
}
.zomojianim-48-headache {
    background-image: url(/images/live/48/headache.png);
}
.zomojianim-48-idea {
    background-image: url(/images/live/48/idea.png);
}
.zomojianim-48-injured {
    background-image: url(/images/live/48/injured.png);
}
.zomojianim-48-jealous {
    background-image: url(/images/live/48/jealous.png);
}
.zomojianim-48-joy {
    background-image: url(/images/live/48/joy.png);
}
.zomojianim-48-keep-quiet {
    background-image: url(/images/live/48/keep-quiet.png);
}
.zomojianim-48-love {
    background-image: url(/images/live/48/love.png);
}
.zomojianim-48-neutral {
    background-image: url(/images/live/48/neutral.png);
}
.zomojianim-48-peace {
    background-image: url(/images/live/48/peace.png);
}
.zomojianim-48-razz {
    background-image: url(/images/live/48/razz.png);
}
.zomojianim-48-relaxed {
    background-image: url(/images/live/48/relaxed.png);
}
.zomojianim-48-sad {
    background-image: url(/images/live/48/sad.png);
}
.zomojianim-48-search {
    background-image: url(/images/live/48/search.png);
}
.zomojianim-48-sick {
    background-image: url(/images/live/48/sick.png);
}
.zomojianim-48-sleepy {
    background-image: url(/images/live/48/sleepy.png);
}
.zomojianim-48-smile {
    background-image: url(/images/live/48/smile.png);
}
.zomojianim-48-smirk {
    background-image: url(/images/live/48/smirk.png);
}
.zomojianim-48-stressed-out {
    background-image: url(/images/live/48/stressed-out.png);
}
.zomojianim-48-surprise {
    background-image: url(/images/live/48/surprise.png);
}
.zomojianim-48-tensed {
    background-image: url(/images/live/48/tensed.png);
}
.zomojianim-48-thinking {
    background-image: url(/images/live/48/thinking.png);
}
.zomojianim-48-tired {
    background-image: url(/images/live/48/tired.png);
}
.zomojianim-48-upset {
    background-image: url(/images/live/48/upset.png);
}
.zomojianim-48-wink {
    background-image: url(/images/live/48/wink.png);
}
.zomojianim-48-worry {
    background-image: url(/images/live/48/worry.png);
}
.zomojianim-48-yuck {
    background-image: url(/images/live/48/yuck.png);
}
.zomojianim-48-yummy {
    background-image: url(/images/live/48/yummy.png);
}
.zomojianim-48-biceps {
    background-image: url(/images/live/48/biceps.png);
}
.zomojianim-48-bye-bye {
    background-image: url(/images/live/48/bye-bye.png);
}
.zomojianim-48-clap {
    background-image: url(/images/live/48/clap.png);
}
.zomojianim-48-fist {
    background-image: url(/images/live/48/fist.png);
}
.zomojianim-48-namaste {
    background-image: url(/images/live/48/namaste.png);
}
.zomojianim-48-raising-hand {
    background-image: url(/images/live/48/raising-hand.png);
}
.zomojianim-48-super {
    background-image: url(/images/live/48/super.png);
}
.zomojianim-48-thumbsdown {
    background-image: url(/images/live/48/thumbsdown.png);
}
.zomojianim-48-thumbsup {
    background-image: url(/images/live/48/thumbsup.png);
}
.zomojianim-48-victory {
    background-image: url(/images/live/48/victory.png);
}
.zomojianim-48-yoyo {
    background-image: url(/images/live/48/yoyo.png);
}
.zomojianim-48-birthday {
    background-image: url(/images/live/48/birthday.png);
}
.zomojianim-48-christmas-tree {
    background-image: url(/images/live/48/christmas-tree.png);
}
.zomojianim-48-coffee-cup {
    background-image: url(/images/live/48/coffee-cup.png);
}
.zomojianim-48-eid-mubarak {
    background-image: url(/images/live/48/eid-mubarak.png);
}
.zomojianim-48-fireworks {
    background-image: url(/images/live/48/fireworks.png);
}
.zomojianim-48-food {
    background-image: url(/images/live/48/food.png);
}
.zomojianim-48-gift-box {
    background-image: url(/images/live/48/gift-box.png);
}
.zomojianim-48-kaaba {
    background-image: url(/images/live/48/kaaba.png);
}
.zomojianim-48-new-year {
    background-image: url(/images/live/48/new-year.png);
}
.zomojianim-48-party {
    background-image: url(/images/live/48/party.png);
}
.zomojianim-48-santa-hat {
    background-image: url(/images/live/48/santa-hat.png);
}
.zomojianim-48-fire {
    background-image: url(/images/live/48/fire.png);
    animation-timing-function: steps(98);
    animation-duration: 3s;
    animation-name: zomojianim-48-fire;
}
.zomojianim-48-medicine {
    background-image: url(/images/live/48/medicine.png);
}
.zomojianim-48-poop {
    background-image: url(/images/live/48/poop.png);
}
.zomojianim-48-flag {
    background-image: url(/images/live/48/flag.png);
}
.zomojianim-48-table-tennis {
    background-image: url(/images/live/48/table-tennis.png);
}
.zomojianim-48-canoeing {
    background-image: url(/images/live/48/canoeing.png);
}
.zomojianim-48-archer {
    background-image: url(/images/live/48/archer.png);
}
.zomojianim-48-boxer {
    background-image: url(/images/live/48/boxer.png);
}
.zomojianim-48-badminton {
    background-image: url(/images/live/48/badminton.png);
}
.zomojianim-48-chess {
    background-image: url(/images/live/48/chess.png);
}
.zomojianim-48-discus-throw {
    background-image: url(/images/live/48/discus-throw.png);
    animation-timing-function: steps(105);
    animation-duration: 3s;
    animation-name: zomojianim-48-discus;
}
.zomojianim-48-diver {
    background-image: url(/images/live/48/diver.png);
    animation-timing-function: steps(65);
    animation-duration: 3s;
    animation-name: zomojianim-48-diver;
}
.zomojianim-48-equestrian {
    background-image: url(/images/live/48/equestrian.png);
    animation-timing-function: steps(80);
    animation-duration: 3s;
    animation-name: zomojianim-48-equestrian;
}
.zomojianim-48-fencer {
    background-image: url(/images/live/48/fencer.png);
}
.zomojianim-48-football {
    background-image: url(/images/live/48/football.png);
}
.zomojianim-48-hockey {
    background-image: url(/images/live/48/hockey.png);
}
.zomojianim-48-hurdler {
    background-image: url(/images/live/48/hurdler.png);
}
.zomojianim-48-javelin-throw {
    background-image: url(/images/live/48/javelin-throw.png);
    animation-timing-function: steps(109);
    animation-duration: 3s;
    animation-name: zomojianim-48-javelin;
}
.zomojianim-48-judo {
    background-image: url(/images/live/48/judo.png);
    animation-timing-function: steps(81);
    animation-duration: 3s;
    animation-name: zomojianim-48-judo;
}
.zomojianim-48-long-jump {
    background-image: url(/images/live/48/long-jump.png);
    animation-timing-function: steps(101);
    animation-duration: 3s;
    animation-name: zomojianim-48-jump;
}
.zomojianim-48-pole-vault {
    background-image: url(/images/live/48/pole-vault.png);
}
.zomojianim-48-athlete {
    background-image: url(/images/live/48/athlete.png);
    animation-timing-function: steps(24);
    animation-duration: 1s;
    animation-name: zomojianim-48-athelete;
}
.zomojianim-48-rhythmic-gymnastics {
    background-image: url(/images/live/48/rhythmic-gymnastics.png);
}
.zomojianim-48-shotput-throw {
    background-image: url(/images/live/48/shotput-throw.png);
    animation-timing-function: steps(111);
    animation-duration: 3s;
    animation-name: zomojianim-48-shortput;
}
.zomojianim-48-high-jump {
    background-image: url(/images/live/48/high-jump.png);
    animation-timing-function: steps(101);
    animation-duration: 3s;
    animation-name: zomojianim-48-jump;
}
.zomojianim-48-snooker {
    background-image: url(/images/live/48/snooker.png);
}
.zomojianim-48-baseball {
    background-image: url(/images/live/48/baseball.png);
}
.zomojianim-48-cricket {
    background-image: url(/images/live/48/cricket.png);
}
.zomojianim-48-foosball {
    background-image: url(/images/live/48/foosball.png);
}
.zomojianim-48-basketball {
    background-image: url(/images/live/48/basketball.png);
}
.zomojianim-48-shooter {
    background-image: url(/images/live/48/shooter.png);
}
