/*$Id$*/

[class^="zomoji-f-48"] {
    background: url(/images/fun/zomoji48.png);
    background-repeat: no-repeat;
    cursor: default;
    display: inline-block;
    height: 48px;
    overflow: hidden;
    vertical-align: middle;
    width: 48px;
}

.zomoji-f-48-smile {
    background-position: 0px 0px;
}

.zomoji-f-48-happy {
    background-position: -48px 0px;
}

.zomoji-f-48-joy {
    background-position: -96px 0px;
}

.zomoji-f-48-grinning {
    background-position: -144px 0px;
}

.zomoji-f-48-cool {
    background-position: -192px 0px;
}

.zomoji-f-48-curious {
    background-position: -288px 0px;
}

.zomoji-f-48-awe {
    background-position: -336px 0px;
}

.zomoji-f-48-thinking {
    background-position: -384px 0px;
}

.zomoji-f-48-search {
    background-position: -432px 0px;
}

.zomoji-f-48-idea {
    background-position: 0px -48px;
}

.zomoji-f-48-wink {
    background-position: -48px -48px;
}

.zomoji-f-48-razz {
    background-position: -96px -48px;
}

.zomoji-f-48-relaxed {
    background-position: -144px -48px;
}

.zomoji-f-48-peace {
    background-position: -192px -48px;
}

.zomoji-f-48-yummy {
    background-position: -240px -48px;
}

.zomoji-f-48-yuck {
    background-position: -288px -48px;
}

.zomoji-f-48-sad {
    background-position: -336px -48px;
}

.zomoji-f-48-blush {
    background-position: -384px -48px;
}

.zomoji-f-48-upset {
    background-position: -432px -48px;
}

.zomoji-f-48-anxious {
    background-position: 0px -96px;
}

.zomoji-f-48-worry {
    background-position: -48px -96px;
}

.zomoji-f-48-stressed-out {
    background-position: -96px -96px;
}

.zomoji-f-48-angry {
    background-position: -144px -96px;
}

.zomoji-f-48-tensed {
    background-position: -192px -96px;
}

.zomoji-f-48-tired {
    background-position: -240px -96px;
}

.zomoji-f-48-bored {
    background-position: -288px -96px;
}

.zomoji-f-48-sleepy {
    background-position: -336px -96px;
}

.zomoji-f-48-jealous {
    background-position: -384px -96px;
}

.zomoji-f-48-evil {
    background-position: -432px -96px;
}

.zomoji-f-48-facepalm {
    background-position: 0px -144px;
}

.zomoji-f-48-doubt {
    background-position: -48px -144px;
}

.zomoji-f-48-surprise {
    background-position: -96px -144px;
}

.zomoji-f-48-faint {
    background-position: -144px -144px;
}

.zomoji-f-48-headache {
    background-position: -192px -144px;
}

.zomoji-f-48-sick {
    background-position: -240px -144px;
}

.zomoji-f-48-injured {
    background-position: -288px -144px;
}

.zomoji-f-48-neutral {
    background-position: -336px -144px;
}

.zomoji-f-48-smirk {
    background-position: -384px -144px;
}

.zomoji-f-48-keep-quiet {
    background-position: -432px -144px;
}

.zomoji-f-48-feeling-warm {
    background-position: 0px -192px;
}

.zomoji-f-48-feeling-cold {
    background-position: -48px -192px;
}

.zomoji-f-48-thumbsup {
    background-position: 0px -240px;
}

.zomoji-f-48-thumbsdown {
    background-position: -48px -240px;
}

.zomoji-f-48-namaste {
    background-position: -96px -240px;
}

.zomoji-f-48-super {
    background-position: -144px -240px;
}

.zomoji-f-48-victory {
    background-position: -192px -240px;
}

.zomoji-f-48-yoyo {
    background-position: -240px -240px;
}

.zomoji-f-48-raising-hand {
    background-position: -288px -240px;
}

.zomoji-f-48-clap {
    background-position: -336px -240px;
}

.zomoji-f-48-bye-bye {
    background-position: -384px -240px;
}

.zomoji-f-48-fist {
    background-position: -432px -240px;
}

.zomoji-f-48-biceps {
    background-position: 0px -288px;
}

.zomoji-f-48-flag {
    background-position: 0px -336px;
}

.zomoji-f-48-target {
    background-position: -48px -336px;
}

.zomoji-f-48-foosball {
    background-position: -96px -336px;
}

.zomoji-f-48-pingpong {
    background-position: -96px -574px;
}

.zomoji-f-48-coffee-cup {
    background-position: 0px -384px;
}

.zomoji-f-48-food {
    background-position: -48px -384px;
}

.zomoji-f-48-chicken {
    background-position: -96px -384px;
}

.zomoji-f-48-gift-box {
    background-position: -144px -384px;
}

.zomoji-f-48-champagne {
    background-position: -192px -384px;
}

.zomoji-f-48-party {
    background-position: -240px -384px;
}

.zomoji-f-48-poop {
    background-position: -288px -384px;
}

.zomoji-f-48-peanuts {
    background-position: -336px -384px;
}

.zomoji-f-48-birthday {
    background-position: 0px -432px;
}

.zomoji-f-48-fireworks {
    background-position: -48px -432px;
}

.zomoji-f-48-christmas-tree {
    background-position: -96px -432px;
}

.zomoji-f-48-santa-hat {
    background-position: -144px -432px;
}

.zomoji-f-48-eid-mubarak {
    background-position: -240px -432px;
}

.zomoji-f-48-kaaba {
    background-position: -288px -432px;
}

.zomoji-f-48-new-year {
    background-position: -192px -432px;
}

.zomoji-f-48-singing {
    background-position: -0px -480px;
}

.zomoji-f-48-break-boy {
    background-position: -48px -480px;
}

.zomoji-f-48-break-girl {
    background-position: -96px -480px;
}

.zomoji-f-48-woman-dancing {
    background-position: -144px -480px;
}

.zomoji-f-48-man-dancing {
    background-position: -192px -480px;
}

.zomoji-f-48-yoga {
    background-position: -240px -480px;
}

.zomoji-f-48-karate {
    background-position: -288px -480px;
}

.zomoji-f-48-medicine {
    background-position: -336px -480px;
}

.zomoji-f-48-first-aid-box {
    background-position: -384px -480px;
}

.zomoji-f-48-fire-extinguisher {
    background-position: -432px -480px;
}

.zomoji-f-48-fire {
    background-position: -0px -528px;
}

.zomoji-f-48-man-cycling {
    background-position: -48px -528px;
}

.zomoji-f-48-woman-cycling {
    background-position: -96px -528px;
}

.zomoji-f-48-woman-running {
    background-position: -144px -528px;
}

.zomoji-f-48-man-running {
    background-position: -192px -528px;
}

.zomoji-f-48-man-swimming {
    background-position: -240px -528px;
}

.zomoji-f-48-woman-swimming {
    background-position: -288px -528px;
}

.zomoji-f-48-football {
    background-position: -336px -528px;
}

.zomoji-f-48-basketball {
    background-position: -384px -528px;
}

.zomoji-f-48-volleyball {
    background-position: -432px -528px;
}

.zomoji-f-48-tennis {
    background-position: -0px -576px;
}

.zomoji-f-48-badminton {
    background-position: -48px -576px;
}

.zomoji-f-48-table-tennis {
    background-position: -96px -576px;
}

.zomoji-f-48-cricket {
    background-position: -144px -576px;
}

.zomoji-f-48-baseball {
    background-position: -192px -576px;
}

.zomoji-f-48-hockey {
    background-position: -240px -576px;
}

.zomoji-f-48-golf {
    background-position: -288px -576px;
}

.zomoji-f-48-snooker {
    background-position: -336px -576px;
}

.zomoji-f-48-chess {
    background-position: -384px -576px;
}

.zomoji-f-48-football-player {
    background-position: -0px -624px;
}

.zomoji-f-48-basketball-player {
    background-position: -48px -624px;
}

.zomoji-f-48-male-volleyball-player {
    background-position: -96px -624px;
}

.zomoji-f-48-female-volleyball-player {
    background-position: -144px -624px;
}

.zomoji-f-48-female-tennis-player {
    background-position: -192px -624px;
}

.zomoji-f-48-male-tennis-player {
    background-position: -240px -624px;
}

.zomoji-f-48-badminton-player {
    background-position: -288px -624px;
}

.zomoji-f-48-male-tabletennis-player {
    background-position: -336px -624px;
}

.zomoji-f-48-female-tabletennis-player {
    background-position: -384px -624px;
}

.zomoji-f-48-batsman {
    background-position: -432px -624px;
}

.zomoji-f-48-bowler {
    background-position: -0px -672px;
}

.zomoji-f-48-batter {
    background-position: -48px -672px;
}

.zomoji-f-48-pitcher {
    background-position: -96px -672px;
}

.zomoji-f-48-hockey-player {
    background-position: -144px -672px;
}

.zomoji-f-48-golfer {
    background-position: -192px -672px;
}

.zomoji-f-48-gymnast {
    background-position: -240px -672px;
}

.zomoji-f-48-snooker-player {
    background-position: -288px -672px;
}

.zomoji-f-48-chess-player {
    background-position: -336px -672px;
}

.zomoji-f-48-gold-medal {
    background-position: -0px -720px;
}

.zomoji-f-48-silver-medal {
    background-position: -48px -720px;
}

.zomoji-f-48-bronze-medal {
    background-position: -96px -720px;
}

.zomoji-f-48-refugee-olympic-team {
    background-position: -144px -720px;
}

.zomoji-f-48-athlete {
    background-position: -192px -720px;
}

.zomoji-f-48-hurdler {
    background-position: -240px -720px;
}

.zomoji-f-48-high-jump {
    background-position: -288px -720px;
}

.zomoji-f-48-long-jump {
    background-position: -336px -720px;
}

.zomoji-f-48-pole-vault {
    background-position: -384px -720px;
}

.zomoji-f-48-discus-throw {
    background-position: -432px -720px;
}


.zomoji-f-48-hammer-throw {
    background-position: -0px -768px;
}

.zomoji-f-48-javelin-throw {
    background-position: -48px -768px;
}

.zomoji-f-48-shotput-throw {
    background-position: -96px -768px;
}

.zomoji-f-48-boxer {
    background-position: -144px -768px;
}

.zomoji-f-48-fencer {
    background-position: -192px -768px;
}

.zomoji-f-48-judo {
    background-position: -240px -768px;
}

.zomoji-f-48-weightlifting {
    background-position: -288px -768px;
}

.zomoji-f-48-wrestling {
    background-position: -336px -768px;
}

.zomoji-f-48-archer {
    background-position: -384px -768px;
}

.zomoji-f-48-shooter {
    background-position: -432px -768px;
}

.zomoji-f-48-equestrian {
    background-position: -0px -816px;
}

.zomoji-f-48-canoeing {
    background-position: -48px -816px;
}

.zomoji-f-48-diver {
    background-position: -96px -816px;
}

.zomoji-f-48-rhythmic-gymnastics {
    background-position: -144px -816px;
}

.zomoji-f-48-bicycle {
    background-position: 0px -864px;
}

.zomoji-f-48-sports-bike {
    background-position: -48px -866px;
}

.zomoji-f-48-cruiser-bike {
    background-position: -96px -870px;
}

.zomoji-f-48-motor-scooter {
    background-position: -144px -870px;
}

.zomoji-f-48-car {
    background-position: -192px -870px;
}

.zomoji-f-48-taxi {
    background-position: -240px -868px;
}

.zomoji-f-48-bus {
    background-position: -288px -870px;
}

.zomoji-f-48-train {
    background-position: -336px -870px;
}

.zomoji-f-48-police-car {
    background-position: -384px -868px;
}

.zomoji-f-48-ambulance {
    background-position: -432px -864px;
}

.zomoji-f-48-fire-engine {
    background-position: 0 -910px;
}

.zomoji-f-48-aeroplane {
    background-position: -48px -912px;
}

.zomoji-f-48-passenger-ship {
    background-position: -98px -912px;
}

.zomoji-f-48-parking {
    background-position: 2px -960px;
}

.zomoji-f-48-cafeteria {
    background-position: -48px -960px;
}

.zomoji-f-48-bug {
    background-position: -96px -1054px;
}

.zomoji-f-48-milestone {
    background-position: -144px -1054px;
}

.zomoji-f-48-security {
    background-position: -240px -1054px;
}

.zomoji-f-48-calendar {
    background-position: -192px -1056px;
}

.zomoji-f-48-processor {
    background-position: -288px -1056px;
}

.zomoji-f-48-laptop {
    background-position: -336px -1056px;
}

.zomoji-f-48-server {
    background-position: -384px -1054px;
}

.zomoji-f-48-garden {
    background-position: -96px -958px;
}

.zomoji-f-48-playground {
    background-position: -144px -960px;
}

.zomoji-f-48-home {
    background-position: -192px -958px;
}

.zomoji-f-48-office {
    background-position: -240px -958px;
}

.zomoji-f-48-library {
    background-position: -288px -960px;
}

.zomoji-f-48-auditorium {
    background-position: -336px -960px;
}

.zomoji-f-48-store {
    background-position: -384px -958px;
}

.zomoji-f-48-mail-room {
    background-position: -432px -958px;
}

.zomoji-f-48-pharmacy {
    background-position: 0 -1006px;
}

.zomoji-f-48-task {
    background-position: 0 -1054px;
}

.zomoji-f-48-report {
    background-position: -48px -1054px;
}

.zomoji-f-48-gym {
    background-position: -50px -1008px;
}

.zomoji-f-48-americas {
    background-position: -432px -1054px;
}

.zomoji-f-48-europe-africa {
    background-position: 0px -1102px;
}

.zomoji-f-48-asia-pacific {
    background-position: -48px -1104px;
}

/*Patch work*/
.zomoji-f-48-love {
    background-position: 0 -1150px;
}
