/*$Id$*/

[class^="zomoji-f-72-"] {
    background-image: url(/images/fun/zomoji72.png);
    background-repeat: no-repeat;
    cursor: default;
    display: inline-block;
    height: 72px;
    overflow: hidden;
    vertical-align: middle;
    width: 72px;
}

.zomoji-f-72-smile {
    background-position: 0px 0px;
}

.zomoji-f-72-happy {
    background-position: -72px 0px;
}

.zomoji-f-72-joy {
    background-position: -144px 0px;
}

.zomoji-f-72-grinning {
    background-position: -216px 0px;
}

.zomoji-f-72-cool {
    background-position: -288px 0px;
}

.zomoji-f-72-curious {
    background-position: -432px 0px;
}

.zomoji-f-72-awe {
    background-position: -504px 0px;
}

.zomoji-f-72-thinking {
    background-position: -576px 0px;
}

.zomoji-f-72-search {
    background-position: -648px 0px;
}

.zomoji-f-72-idea {
    background-position: 0px -72px;
}

.zomoji-f-72-wink {
    background-position: -72px -72px;
}

.zomoji-f-72-razz {
    background-position: -144px -72px;
}

.zomoji-f-72-relaxed {
    background-position: -216px -72px;
}

.zomoji-f-72-peace {
    background-position: -288px -72px;
}

.zomoji-f-72-yummy {
    background-position: -360px -72px;
}

.zomoji-f-72-yuck {
    background-position: -432px -72px;
}

.zomoji-f-72-sad {
    background-position: -504px -72px;
}

.zomoji-f-72-blush {
    background-position: -576px -72px;
}

.zomoji-f-72-upset {
    background-position: -648px -72px;
}

.zomoji-f-72-anxious {
    background-position: 0px -144px;
}

.zomoji-f-72-worry {
    background-position: -72px -144px;
}

.zomoji-f-72-stressed-out {
    background-position: -144px -144px;
}

.zomoji-f-72-angry {
    background-position: -216px -144px;
}

.zomoji-f-72-tensed {
    background-position: -288px -144px;
}

.zomoji-f-72-tired {
    background-position: -360px -144px;
}

.zomoji-f-72-bored {
    background-position: -432px -144px;
}

.zomoji-f-72-sleepy {
    background-position: -504px -144px;
}

.zomoji-f-72-jealous {
    background-position: -576px -144px;
}

.zomoji-f-72-evil {
    background-position: -648px -144px;
}

.zomoji-f-72-facepalm {
    background-position: 0px -216px;
}

.zomoji-f-72-doubt {
    background-position: -72px -216px;
}

.zomoji-f-72-surprise {
    background-position: -144px -216px;
}

.zomoji-f-72-faint {
    background-position: -216px -216px;
}

.zomoji-f-72-headache {
    background-position: -288px -216px;
}

.zomoji-f-72-sick {
    background-position: -360px -216px;
}

.zomoji-f-72-injured {
    background-position: -432px -216px;
}

.zomoji-f-72-neutral {
    background-position: -504px -216px;
}

.zomoji-f-72-smirk {
    background-position: -576px -216px;
}

.zomoji-f-72-keep-quiet {
    background-position: -648px -216px;
}

.zomoji-f-72-feeling-warm {
    background-position: 0px -288px;
}

.zomoji-f-72-feeling-cold {
    background-position: -72px -288px;
}

.zomoji-f-72-thumbsup {
    background-position: 0px -360px;
}

.zomoji-f-72-thumbsdown {
    background-position: -72px -360px;
}

.zomoji-f-72-namaste {
    background-position: -144px -360px;
}

.zomoji-f-72-super {
    background-position: -216px -360px;
}

.zomoji-f-72-victory {
    background-position: -288px -360px;
}

.zomoji-f-72-yoyo {
    background-position: -360px -360px;
}

.zomoji-f-72-raising-hand {
    background-position: -432px -360px;
}

.zomoji-f-72-clap {
    background-position: -504px -360px;
}

.zomoji-f-72-bye-bye {
    background-position: -576px -360px;
}

.zomoji-f-72-fist {
    background-position: -648px -360px;
}

.zomoji-f-72-biceps {
    background-position: 0px -432px;
}

.zomoji-f-72-flag {
    background-position: 0px -504px;
}

.zomoji-f-72-target {
    background-position: -72px -504px;
}

.zomoji-f-72-foosball {
    background-position: -144px -504px;
}

.zomoji-f-72-pingpong {
    background-position: -144px -861px;
}

.zomoji-f-72-coffee-cup {
    background-position: 0px -576px;
}

.zomoji-f-72-food {
    background-position: -72px -576px;
}

.zomoji-f-72-chicken {
    background-position: -144px -576px;
}

.zomoji-f-72-gift-box {
    background-position: -216px -576px;
}

.zomoji-f-72-champagne {
    background-position: -288px -576px;
}

.zomoji-f-72-party {
    background-position: -360px -576px;
}

.zomoji-f-72-poop {
    background-position: -432px -576px;
}

.zomoji-f-72-peanuts {
    background-position: -504px -576px;
}

.zomoji-f-72-birthday {
    background-position: 0px -648px;
}

.zomoji-f-72-fireworks {
    background-position: -72px -648px;
}

.zomoji-f-72-christmas-tree {
    background-position: -144px -648px;
}

.zomoji-f-72-santa-hat {
    background-position: -216px -648px;
}

.zomoji-f-72-eid-mubarak {
    background-position: -360px -648px;
}

.zomoji-f-72-kaaba {
    background-position: -432px -648px;
}

.zomoji-f-72-new-year {
    background-position: -288px -648px;
}

.zomoji-f-72-singing {
    background-position: -0px -720px;
}

.zomoji-f-72-break-boy {
    background-position: -72px -720px;
}

.zomoji-f-72-break-girl {
    background-position: -144px -720px;
}

.zomoji-f-72-woman-dancing {
    background-position: -216px -720px;
}

.zomoji-f-72-man-dancing {
    background-position: -288px -720px;
}

.zomoji-f-72-yoga {
    background-position: -360px -720px;
}

.zomoji-f-72-karate {
    background-position: -432px -720px;
}

.zomoji-f-72-medicine {
    background-position: -504px -720px;
}

.zomoji-f-72-first-aid-box {
    background-position: -576px -720px;
}

.zomoji-f-72-fire-extinguisher {
    background-position: -648px -720px;
}

.zomoji-f-72-fire {
    background-position: -0px -792px;
}

.zomoji-f-72-man-cycling {
    background-position: -72px -792px;
}

.zomoji-f-72-woman-cycling {
    background-position: -144px -792px;
}

.zomoji-f-72-woman-running {
    background-position: -216px -792px;
}

.zomoji-f-72-man-running {
    background-position: -288px -792px;
}

.zomoji-f-72-man-swimming {
    background-position: -360px -792px;
}

.zomoji-f-72-woman-swimming {
    background-position: -432px -792px;
}

.zomoji-f-72-football {
    background-position: -504px -792px;
}

.zomoji-f-72-basketball {
    background-position: -576px -792px;
}

.zomoji-f-72-volleyball {
    background-position: -648px -792px;
}

.zomoji-f-72-tennis {
    background-position: -0px -864px;
}

.zomoji-f-72-badminton {
    background-position: -72px -864px;
}

.zomoji-f-72-table-tennis {
    background-position: -144px -864px;
}

.zomoji-f-72-cricket {
    background-position: -216px -864px;
}

.zomoji-f-72-baseball {
    background-position: -288px -864px;
}

.zomoji-f-72-hockey {
    background-position: -360px -864px;
}

.zomoji-f-72-golf {
    background-position: -432px -864px;
}

.zomoji-f-72-snooker {
    background-position: -504px -864px;
}

.zomoji-f-72-chess {
    background-position: -576px -864px;
}

.zomoji-f-72-football-player {
    background-position: -0px -936px;
}

.zomoji-f-72-basketball-player {
    background-position: -72px -936px;
}

.zomoji-f-72-male-volleyball-player {
    background-position: -144px -936px;
}

.zomoji-f-72-female-volleyball-player {
    background-position: -216px -936px;
}

.zomoji-f-72-female-tennis-player {
    background-position: -288px -936px;
}

.zomoji-f-72-male-tennis-player {
    background-position: -360px -936px;
}

.zomoji-f-72-badminton-player {
    background-position: -432px -936px;
}

.zomoji-f-72-male-tabletennis-player {
    background-position: -504px -936px;
}

.zomoji-f-72-female-tabletennis-player {
    background-position: -576px -936px;
}

.zomoji-f-72-batsman {
    background-position: -648px -936px;
}

.zomoji-f-72-bowler {
    background-position: -0px -1008px;
}

.zomoji-f-72-batter {
    background-position: -72px -1008px;
}

.zomoji-f-72-pitcher {
    background-position: -144px -1008px;
}

.zomoji-f-72-hockey-player {
    background-position: -216px -1008px;
}

.zomoji-f-72-golfer {
    background-position: -288px -1008px;
}

.zomoji-f-72-gymnast {
    background-position: -360px -1008px;
}

.zomoji-f-72-snooker-player {
    background-position: -432px -1008px;
}

.zomoji-f-72-chess-player {
    background-position: -504px -1008px;
}

.zomoji-f-72-gold-medal {
    background-position: -0px -1080px;
}

.zomoji-f-72-silver-medal {
    background-position: -72px -1080px;
}

.zomoji-f-72-bronze-medal {
    background-position: -144px -1080px;
}

.zomoji-f-72-refugee-olympic-team {
    background-position: -216px -1080px;
}

.zomoji-f-72-athlete {
    background-position: -288px -1080px;
}

.zomoji-f-72-hurdler {
    background-position: -360px -1080px;
}

.zomoji-f-72-high-jump {
    background-position: -432px -1080px;
}

.zomoji-f-72-long-jump {
    background-position: -504px -1080px;
}

.zomoji-f-72-pole-vault {
    background-position: -576px -1080px;
}

.zomoji-f-72-discus-throw {
    background-position: -648px -1080px;
}


.zomoji-f-72-hammer-throw {
    background-position: -0px -1152px;
}

.zomoji-f-72-javelin-throw {
    background-position: -72px -1152px;
}

.zomoji-f-72-shotput-throw {
    background-position: -144px -1152px;
}

.zomoji-f-72-boxer {
    background-position: -216px -1152px;
}

.zomoji-f-72-fencer {
    background-position: -288px -1152px;
}

.zomoji-f-72-judo {
    background-position: -360px -1152px;
}

.zomoji-f-72-weightlifting {
    background-position: -432px -1152px;
}

.zomoji-f-72-wrestling {
    background-position: -504px -1152px;
}

.zomoji-f-72-archer {
    background-position: -576px -1152px;
}

.zomoji-f-72-shooter {
    background-position: -648px -1152px;
}

.zomoji-f-72-equestrian {
    background-position: -0px -1224px;
}

.zomoji-f-72-canoeing {
    background-position: -72px -1224px;
}

.zomoji-f-72-diver {
    background-position: -144px -1224px;
}

.zomoji-f-72-rhythmic-gymnastics {
    background-position: -216px -1224px;
}

.zomoji-f-72-bicycle {
    background-position: 0px -1296px;
}

.zomoji-f-72-sports-bike {
    background-position: -72px -1299px;
}

.zomoji-f-72-cruiser-bike {
    background-position: -144px -1305px;
}

.zomoji-f-72-motor-scooter {
    background-position: -216px -1305px;
}

.zomoji-f-72-car {
    background-position: -288px -1305px;
}

.zomoji-f-72-taxi {
    background-position: -360px -1302px;
}

.zomoji-f-72-bus {
    background-position: -432px -1305px;
}

.zomoji-f-72-train {
    background-position: -504px -1305px;
}

.zomoji-f-72-police-car {
    background-position: -576px -1302px;
}

.zomoji-f-72-ambulance {
    background-position: -648px -1296px;
}

.zomoji-f-72-fire-engine {
    background-position: 0 -1365px;
}

.zomoji-f-72-aeroplane {
    background-position: -72px -1368px;
}

.zomoji-f-72-passenger-ship {
    background-position: -147px -1368px;
}

.zomoji-f-72-parking {
    background-position: 3px -1440px;
}

.zomoji-f-72-cafeteria {
    background-position: -72px -1440px;
}

.zomoji-f-72-bug {
    background-position: -144px -1581px;
}

.zomoji-f-72-milestone {
    background-position: -216px -1581px;
}

.zomoji-f-72-security {
    background-position: -360px -1581px;
}

.zomoji-f-72-calendar {
    background-position: -288px -1584px;
}

.zomoji-f-72-processor {
    background-position: -432px -1584px;
}

.zomoji-f-72-laptop {
    background-position: -504px -1584px;
}

.zomoji-f-72-server {
    background-position: -576px -1581px;
}

.zomoji-f-72-garden {
    background-position: -144px -1437px;
}

.zomoji-f-72-playground {
    background-position: -216px -1440px;
}

.zomoji-f-72-home {
    background-position: -288px -1437px;
}

.zomoji-f-72-office {
    background-position: -360px -1437px;
}

.zomoji-f-72-library {
    background-position: -432px -1440px;
}

.zomoji-f-72-auditorium {
    background-position: -504px -1440px;
}

.zomoji-f-72-store {
    background-position: -576px -1437px;
}

.zomoji-f-72-mail-room {
    background-position: -648px -1437px;
}

.zomoji-f-72-pharmacy {
    background-position: 0 -1509px;
}

.zomoji-f-72-task {
    background-position: 0 -1581px;
}

.zomoji-f-72-report {
    background-position: -72px -1581px;
}

.zomoji-f-72-gym {
    background-position: -75px -1512px;
}

.zomoji-f-72-americas {
    background-position: -648px -1581px;
}

.zomoji-f-72-europe-africa {
    background-position: 0px -1653px;
}

.zomoji-f-72-asia-pacific {
    background-position: -72px -1656px;
}
/*Patch work*/
.zomoji-f-72-love {
    background-position: 0 -1725px;
}
