/*$Id$*/

[class^="zomoji-w-24-"] {
    background: url(/images/workplace/zomoji24.png);
    background-repeat: no-repeat;
    cursor: default;
    display: inline-block;
    height: 24px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    [class^="zomoji-w-24-"] {
        background: url(/images/workplace/zomoji48.png) no-repeat;
        background-size: 240px 600px;
    }
}

.zomoji-w-24-smile {
    background-position: 0px 0px;
}

.zomoji-w-24-happy {
    background-position: -24px 0px;
}

.zomoji-w-24-joy {
    background-position: -48px 0px;
}

.zomoji-w-24-grinning {
    background-position: -72px 0px;
}

.zomoji-w-24-cool {
    background-position: -96px 0px;
}

.zomoji-w-24-love {
    background-position: -120px 0px;
}

.zomoji-w-24-curious {
    background-position: -144px 0px;
}

.zomoji-w-24-awe {
    background-position: -168px 0px;
}

.zomoji-w-24-thinking {
    background-position: -192px 0px;
}

.zomoji-w-24-search {
    background-position: -216px 0px;
}

.zomoji-w-24-idea {
    background-position: 0px -24px;
}

.zomoji-w-24-wink {
    background-position: -24px -24px;
}

.zomoji-w-24-razz {
    background-position: -48px -24px;
}

.zomoji-w-24-relaxed {
    background-position: -72px -24px;
}

.zomoji-w-24-peace {
    background-position: -96px -24px;
}

.zomoji-w-24-yummy {
    background-position: -120px -24px;
}

.zomoji-w-24-yuck {
    background-position: -144px -24px;
}

.zomoji-w-24-sad {
    background-position: -168px -24px;
}

.zomoji-w-24-blush {
    background-position: -192px -24px;
}

.zomoji-w-24-upset {
    background-position: -216px -24px;
}

.zomoji-w-24-anxious {
    background-position: 0px -48px;
}

.zomoji-w-24-worry {
    background-position: -24px -48px;
}

.zomoji-w-24-stressed-out {
    background-position: -48px -48px;
}

.zomoji-w-24-angry {
    background-position: -72px -48px;
}

.zomoji-w-24-tensed {
    background-position: -96px -48px;
}

.zomoji-w-24-tired {
    background-position: -120px -48px;
}

.zomoji-w-24-bored {
    background-position: -144px -48px;
}

.zomoji-w-24-sleepy {
    background-position: -168px -48px;
}

.zomoji-w-24-jealous {
    background-position: -192px -48px;
}

.zomoji-w-24-evil {
    background-position: -216px -48px;
}

.zomoji-w-24-facepalm {
    background-position: 0px -72px;
}

.zomoji-w-24-doubt {
    background-position: -24px -72px;
}

.zomoji-w-24-surprise {
    background-position: -48px -72px;
}

.zomoji-w-24-faint {
    background-position: -72px -72px;
}

.zomoji-w-24-headache {
    background-position: -96px -72px;
}

.zomoji-w-24-sick {
    background-position: -120px -72px;
}

.zomoji-w-24-injured {
    background-position: -144px -72px;
}

.zomoji-w-24-neutral {
    background-position: -168px -72px;
}

.zomoji-w-24-smirk {
    background-position: -192px -72px;
}

.zomoji-w-24-keep-quiet {
    background-position: -216px -72px;
}

.zomoji-w-24-feeling-warm {
    background-position: 0px -96px;
}

.zomoji-w-24-feeling-cold {
    background-position: -24px -96px;
}

.zomoji-w-24-thumbsup {
    background-position: 0px -120px;
}

.zomoji-w-24-thumbsdown {
    background-position: -24px -120px;
}

.zomoji-w-24-namaste {
    background-position: -48px -120px;
}

.zomoji-w-24-super {
    background-position: -72px -120px;
}

.zomoji-w-24-victory {
    background-position: -96px -120px;
}

.zomoji-w-24-yoyo {
    background-position: -120px -120px;
}

.zomoji-w-24-raising-hand {
    background-position: -144px -120px;
}

.zomoji-w-24-clap {
    background-position: -168px -120px;
}

.zomoji-w-24-bye-bye {
    background-position: -192px -120px;
}

.zomoji-w-24-fist {
    background-position: -216px -120px;
}

.zomoji-w-24-biceps {
    background-position: 0px -144px;
}

.zomoji-w-24-flag {
    background-position: 0px -168px;
}

.zomoji-w-24-target {
    background-position: -24px -168px;
}

.zomoji-w-24-foosball {
    background-position: -48px -168px;
}

.zomoji-w-24-pingpong {
    background-position: -48px -287px;
}

.zomoji-w-24-coffee-cup {
    background-position: 0px -192px;
}

.zomoji-w-24-food {
    background-position: -24px -192px;
}

.zomoji-w-24-chicken {
    background-position: -48px -192px;
}

.zomoji-w-24-gift-box {
    background-position: -72px -192px;
}

.zomoji-w-24-champagne {
    background-position: -96px -192px;
}

.zomoji-w-24-party {
    background-position: -120px -192px;
}

.zomoji-w-24-poop {
    background-position: -144px -192px;
}

.zomoji-w-24-peanuts {
    background-position: -168px -192px;
}

.zomoji-w-24-birthday {
    background-position: 0px -216px;
}

.zomoji-w-24-fireworks {
    background-position: -24px -216px;
}

.zomoji-w-24-christmas-tree {
    background-position: -48px -216px;
}

.zomoji-w-24-santa-hat {
    background-position: -72px -216px;
}

.zomoji-w-24-eid-mubarak {
    background-position: -120px -216px;
}

.zomoji-w-24-kaaba {
    background-position: -144px -216px;
}

.zomoji-w-24-new-year {
    background-position: -96px -216px;
}

.zomoji-w-24-singing {
    background-position: -0px -240px;
}

.zomoji-w-24-break-boy {
    background-position: -24px -240px;
}

.zomoji-w-24-break-girl {
    background-position: -48px -240px;
}

.zomoji-w-24-woman-dancing {
    background-position: -72px -240px;
}

.zomoji-w-24-man-dancing {
    background-position: -96px -240px;
}

.zomoji-w-24-yoga {
    background-position: -120px -240px;
}

.zomoji-w-24-karate {
    background-position: -144px -240px;
}

.zomoji-w-24-medicine {
    background-position: -168px -240px;
}

.zomoji-w-24-first-aid-box {
    background-position: -192px -240px;
}

.zomoji-w-24-fire-extinguisher {
    background-position: -216px -240px;
}

.zomoji-w-24-fire {
    background-position: -0px -264px;
}

.zomoji-w-24-man-cycling {
    background-position: -24px -264px;
}

.zomoji-w-24-woman-cycling {
    background-position: -48px -264px;
}

.zomoji-w-24-woman-running {
    background-position: -72px -264px;
}

.zomoji-w-24-man-running {
    background-position: -96px -264px;
}

.zomoji-w-24-man-swimming {
    background-position: -120px -264px;
}

.zomoji-w-24-woman-swimming {
    background-position: -144px -264px;
}

.zomoji-w-24-football {
    background-position: -168px -264px;
}

.zomoji-w-24-basketball {
    background-position: -192px -264px;
}

.zomoji-w-24-volleyball {
    background-position: -216px -264px;
}

.zomoji-w-24-tennis {
    background-position: -0px -288px;
}

.zomoji-w-24-badminton {
    background-position: -24px -288px;
}

.zomoji-w-24-table-tennis {
    background-position: -48px -288px;
}

.zomoji-w-24-cricket {
    background-position: -72px -288px;
}

.zomoji-w-24-baseball {
    background-position: -96px -288px;
}

.zomoji-w-24-hockey {
    background-position: -120px -288px;
}

.zomoji-w-24-golf {
    background-position: -144px -288px;
}

.zomoji-w-24-snooker {
    background-position: -168px -288px;
}

.zomoji-w-24-chess {
    background-position: -192px -288px;
}

.zomoji-w-24-football-player {
    background-position: -0px -312px;
}

.zomoji-w-24-basketball-player {
    background-position: -24px -312px;
}

.zomoji-w-24-male-volleyball-player {
    background-position: -48px -312px;
}

.zomoji-w-24-female-volleyball-player {
    background-position: -72px -312px;
}

.zomoji-w-24-female-tennis-player {
    background-position: -96px -312px;
}

.zomoji-w-24-male-tennis-player {
    background-position: -120px -312px;
}

.zomoji-w-24-badminton-player {
    background-position: -144px -312px;
}

.zomoji-w-24-male-tabletennis-player {
    background-position: -168px -312px;
}

.zomoji-w-24-female-tabletennis-player {
    background-position: -192px -312px;
}

.zomoji-w-24-batsman {
    background-position: -216px -312px;
}

.zomoji-w-24-bowler {
    background-position: -0px -336px;
}

.zomoji-w-24-batter {
    background-position: -24px -336px;
}

.zomoji-w-24-pitcher {
    background-position: -48px -336px;
}

.zomoji-w-24-hockey-player {
    background-position: -72px -336px;
}

.zomoji-w-24-golfer {
    background-position: -96px -336px;
}

.zomoji-w-24-gymnast {
    background-position: -120px -336px;
}

.zomoji-w-24-snooker-player {
    background-position: -144px -336px;
}

.zomoji-w-24-chess-player {
    background-position: -168px -336px;
}

.zomoji-w-24-gold-medal {
    background-position: -0px -360px;
}

.zomoji-w-24-silver-medal {
    background-position: -24px -360px;
}

.zomoji-w-24-bronze-medal {
    background-position: -48px -360px;
}

.zomoji-w-24-refugee-olympic-team {
    background-position: -72px -360px;
}

.zomoji-w-24-athlete {
    background-position: -96px -360px;
}

.zomoji-w-24-hurdler {
    background-position: -120px -360px;
}

.zomoji-w-24-high-jump {
    background-position: -144px -360px;
}

.zomoji-w-24-long-jump {
    background-position: -168px -360px;
}

.zomoji-w-24-pole-vault {
    background-position: -192px -360px;
}

.zomoji-w-24-discus-throw {
    background-position: -216px -360px;
}


.zomoji-w-24-hammer-throw {
    background-position: -0px -384px;
}

.zomoji-w-24-javelin-throw {
    background-position: -24px -384px;
}

.zomoji-w-24-shotput-throw {
    background-position: -48px -384px;
}

.zomoji-w-24-boxer {
    background-position: -72px -384px;
}

.zomoji-w-24-fencer {
    background-position: -96px -384px;
}

.zomoji-w-24-judo {
    background-position: -120px -384px;
}

.zomoji-w-24-weightlifting {
    background-position: -144px -384px;
}

.zomoji-w-24-wrestling {
    background-position: -168px -384px;
}

.zomoji-w-24-archer {
    background-position: -192px -384px;
}

.zomoji-w-24-shooter {
    background-position: -216px -384px;
}

.zomoji-w-24-equestrian {
    background-position: -0px -408px;
}

.zomoji-w-24-canoeing {
    background-position: -24px -408px;
}

.zomoji-w-24-diver {
    background-position: -48px -408px;
}

.zomoji-w-24-rhythmic-gymnastics {
    background-position: -72px -408px;
}

.zomoji-w-24-bicycle {
    background-position: 0px -432px;
}

.zomoji-w-24-sports-bike {
    background-position: -24px -433px;
}

.zomoji-w-24-cruiser-bike {
    background-position: -48px -435px;
}

.zomoji-w-24-motor-scooter {
    background-position: -72px -435px;
}

.zomoji-w-24-car {
    background-position: -96px -435px;
}

.zomoji-w-24-taxi {
    background-position: -120px -434px;
}

.zomoji-w-24-bus {
    background-position: -144px -435px;
}

.zomoji-w-24-train {
    background-position: -168px -435px;
}

.zomoji-w-24-police-car {
    background-position: -192px -434px;
}

.zomoji-w-24-ambulance {
    background-position: -216px -432px;
}

.zomoji-w-24-fire-engine {
    background-position: 0 -455px;
}

.zomoji-w-24-aeroplane {
    background-position: -24px -456px;
}

.zomoji-w-24-passenger-ship {
    background-position: -49px -456px;
}

.zomoji-w-24-parking {
    background-position: 1px -480px;
}

.zomoji-w-24-cafeteria {
    background-position: -24px -480px;
}

.zomoji-w-24-bug {
    background-position: -48px -527px;
}

.zomoji-w-24-milestone {
    background-position: -72px -527px;
}

.zomoji-w-24-security {
    background-position: -120px -527px;
}

.zomoji-w-24-calendar {
    background-position: -96px -528px;
}

.zomoji-w-24-processor {
    background-position: -144px -528px;
}

.zomoji-w-24-laptop {
    background-position: -168px -528px;
}

.zomoji-w-24-server {
    background-position: -192px -527px;
}

.zomoji-w-24-garden {
    background-position: -48px -479px;
}

.zomoji-w-24-playground {
    background-position: -72px -480px;
}

.zomoji-w-24-home {
    background-position: -96px -479px;
}

.zomoji-w-24-office {
    background-position: -120px -479px;
}

.zomoji-w-24-library {
    background-position: -144px -480px;
}

.zomoji-w-24-auditorium {
    background-position: -168px -480px;
}

.zomoji-w-24-store {
    background-position: -192px -479px;
}

.zomoji-w-24-mail-room {
    background-position: -216px -479px;
}

.zomoji-w-24-pharmacy {
    background-position: 0 -503px;
}

.zomoji-w-24-task {
    background-position: 0 -527px;
}

.zomoji-w-24-report {
    background-position: -24px -527px;
}

.zomoji-w-24-gym {
    background-position: -25px -504px;
}

.zomoji-w-24-americas {
    background-position: -216px -527px;
}

.zomoji-w-24-europe-africa {
    background-position: 0px -551px;
}

.zomoji-w-24-asia-pacific {
    background-position: -24px -552px;
}
