@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    /* Retina Animation */
    [class^="zomojianim-24"] {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: steps(120);
        animation-name: zomojianim-24;
        background-repeat: no-repeat;
        background-size: 24px 2879px;
        -moz-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        image-rendering: -webkit-optimize-contrast;
        height: 24px;
        width: 24px;
        vertical-align: middle;
        display: inline-block;
        cursor: default;
    }

    @keyframes zomojianim-24 {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0px -2879px;
        }
    }
    @-webkit-keyframes zomojianim-24 {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2879px;
        }
    }
    @-moz-keyframes zomojianim-24 {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2879px;
        }
    }


    @keyframes zomojianim-24-athelete {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -589px;
        }
    }
    @-webkit-keyframes zomojianim-24-athelete {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -589px;
        }
    }
    @-moz-keyframes zomojianim-24-athelete {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -589px;
        }
    }

    @keyframes zomojianim-24-discus {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2573px;
        }
    }
    @-webkit-keyframes zomojianim-24-discus {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2573px;
        }
    }
    @-moz-keyframes zomojianim-24-discus {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2573px;
        }
    }

    @keyframes zomojianim-24-equestrian {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1961px;
        }
    }
    @-webkit-keyframes zomojianim-24-equestrian {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1961px;
        }
    }
    @-moz-keyframes zomojianim-24-equestrian {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1961px;
        }
    }

    @keyframes zomojianim-24-javelin {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2671px;
        }
    }
    @-webkit-keyframes zomojianim-24-javelin {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2671px;
        }
    }
    @-moz-keyframes zomojianim-24-javelin {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2671px;
        }
    }

    @keyframes zomojianim-24-judo {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1985px;
        }
    }
    @-webkit-keyframes zomojianim-24-judo {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1985px;
        }
    }
    @-moz-keyframes zomojianim-24-judo {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1985px;
        }
    }

    @keyframes zomojianim-24-jump {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2475px;
        }
    }
    @-webkit-keyframes zomojianim-24-jump {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2475px;
        }
    }
    @-moz-keyframes zomojianim-24-jump {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2475px;
        }
    }

    @keyframes zomojianim-24-shortput {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2720px;
        }
    }
    @-webkit-keyframes zomojianim-24-shortput {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2720px;
        }
    }
    @-moz-keyframes zomojianim-24-shortput {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2720px;
        }
    }

    @keyframes zomojianim-24-fire {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2402px;
        }
    }
    @-webkit-keyframes zomojianim-24-fire {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2402px;
        }
    }
    @-moz-keyframes zomojianim-24-fire {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -2402px;
        }
    }

    @keyframes zomojianim-24-diver {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1593px;
        }
    }
    @-webkit-keyframes zomojianim-24-diver {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1593px;
        }
    }
    @-moz-keyframes zomojianim-24-diver {
        0% {
            background-position: 0 -1px;
        }
        100% {
            background-position: 0 -1593px;
        }
    }

    /* Retina-specific stuff here */
    .zomojianim-24-angry {
        background-image: url(/images/play_animation/48/angry.png);
    }
    .zomojianim-24-anxious {
        background-image: url(/images/play_animation/48/anxious.png);
    }
    .zomojianim-24-awe {
        background-image: url(/images/play_animation/48/awe.png);
    }
    .zomojianim-24-blush {
        background-image: url(/images/play_animation/48/blush.png);
    }
    .zomojianim-24-bored {
        background-image: url(/images/play_animation/48/bored.png);
    }
    .zomojianim-24-cool {
        background-image: url(/images/play_animation/48/cool.png);
    }
    .zomojianim-24-curious {
        background-image: url(/images/play_animation/48/curious.png);
    }
    .zomojianim-24-doubt {
        background-image: url(/images/play_animation/48/doubt.png);
    }
    .zomojianim-24-evil {
        background-image: url(/images/play_animation/48/evil.png);
    }
    .zomojianim-24-facepalm {
        background-image: url(/images/play_animation/48/facepalm.png);
    }
    .zomojianim-24-faint {
        background-image: url(/images/play_animation/48/faint.png);
    }
    .zomojianim-24-feeling-warm {
        background-image: url(/images/play_animation/48/feeling-warm.png);
    }
    .zomojianim-24-feeling-cold {
        background-image: url(/images/play_animation/48/feeling-cold.png);
    }
    .zomojianim-24-grinning {
        background-image: url(/images/play_animation/48/grinning.png);
    }
    .zomojianim-24-happy {
        background-image: url(/images/play_animation/48/happy.png);
    }
    .zomojianim-24-headache {
        background-image: url(/images/play_animation/48/headache.png);
    }
    .zomojianim-24-idea {
        background-image: url(/images/play_animation/48/idea.png);
    }
    .zomojianim-24-injured {
        background-image: url(/images/play_animation/48/injured.png);
    }
    .zomojianim-24-jealous {
        background-image: url(/images/play_animation/48/jealous.png);
    }
    .zomojianim-24-joy {
        background-image: url(/images/play_animation/48/joy.png);
    }
    .zomojianim-24-keep-quiet {
        background-image: url(/images/play_animation/48/keep-quiet.png);
    }
    .zomojianim-24-love {
        background-image: url(/images/play_animation/48/love.png);
    }
    .zomojianim-24-neutral {
        background-image: url(/images/play_animation/48/neutral.png);
    }
    .zomojianim-24-peace {
        background-image: url(/images/play_animation/48/peace.png);
    }
    .zomojianim-24-razz {
        background-image: url(/images/play_animation/48/razz.png);
    }
    .zomojianim-24-relaxed {
        background-image: url(/images/play_animation/48/relaxed.png);
    }
    .zomojianim-24-sad {
        background-image: url(/images/play_animation/48/sad.png);
    }
    .zomojianim-24-search {
        background-image: url(/images/play_animation/48/search.png);
    }
    .zomojianim-24-sick {
        background-image: url(/images/play_animation/48/sick.png);
    }
    .zomojianim-24-sleepy {
        background-image: url(/images/play_animation/48/sleepy.png);
    }
    .zomojianim-24-smile {
        background-image: url(/images/play_animation/48/smile.png);
    }
    .zomojianim-24-smirk {
        background-image: url(/images/play_animation/48/smirk.png);
    }
    .zomojianim-24-stressed-out {
        background-image: url(/images/play_animation/48/stressed-out.png);
    }
    .zomojianim-24-surprise {
        background-image: url(/images/play_animation/48/surprise.png);
    }
    .zomojianim-24-tensed {
        background-image: url(/images/play_animation/48/tensed.png);
    }
    .zomojianim-24-thinking {
        background-image: url(/images/play_animation/48/thinking.png);
    }
    .zomojianim-24-tired {
        background-image: url(/images/play_animation/48/tired.png);
    }
    .zomojianim-24-upset {
        background-image: url(/images/play_animation/48/upset.png);
    }
    .zomojianim-24-wink {
        background-image: url(/images/play_animation/48/wink.png);
    }
    .zomojianim-24-worry {
        background-image: url(/images/play_animation/48/worry.png);
    }
    .zomojianim-24-yuck {
        background-image: url(/images/play_animation/48/yuck.png);
    }
    .zomojianim-24-yummy {
        background-image: url(/images/play_animation/48/yummy.png);
    }
    .zomojianim-24-biceps {
        background-image: url(/images/play_animation/48/biceps.png);
    }
    .zomojianim-24-bye-bye {
        background-image: url(/images/play_animation/48/bye-bye.png);
    }
    .zomojianim-24-clap {
        background-image: url(/images/play_animation/48/clap.png);
    }
    .zomojianim-24-fist {
        background-image: url(/images/play_animation/48/fist.png);
    }
    .zomojianim-24-namaste {
        background-image: url(/images/play_animation/48/namaste.png);
    }
    .zomojianim-24-raising-hand {
        background-image: url(/images/play_animation/48/raising-hand.png);
    }
    .zomojianim-24-super {
        background-image: url(/images/play_animation/48/super.png);
    }
    .zomojianim-24-thumbsdown {
        background-image: url(/images/play_animation/48/thumbsdown.png);
    }
    .zomojianim-24-thumbsup {
        background-image: url(/images/play_animation/48/thumbsup.png);
    }
    .zomojianim-24-victory {
        background-image: url(/images/play_animation/48/victory.png);
    }
    .zomojianim-24-yoyo {
        background-image: url(/images/play_animation/48/yoyo.png);
    }
    .zomojianim-24-birthday {
        background-image: url(/images/play_animation/48/birthday.png);
    }
    .zomojianim-24-christmas-tree {
        background-image: url(/images/play_animation/48/christmas-tree.png);
    }
    .zomojianim-24-coffee-cup {
        background-image: url(/images/play_animation/48/coffee-cup.png);
    }
    .zomojianim-24-eid-mubarak {
        background-image: url(/images/play_animation/48/eid-mubarak.png);
    }
    .zomojianim-24-fireworks {
        background-image: url(/images/play_animation/48/fireworks.png);
    }
    .zomojianim-24-food {
        background-image: url(/images/play_animation/48/food.png);
    }
    .zomojianim-24-gift-box {
        background-image: url(/images/play_animation/48/gift-box.png);
    }
    .zomojianim-24-kaaba {
        background-image: url(/images/play_animation/48/kaaba.png);
    }
    .zomojianim-24-new-year {
        background-image: url(/images/play_animation/48/new-year.png);
    }
    .zomojianim-24-party {
        background-image: url(/images/play_animation/48/party.png);
    }
    .zomojianim-24-santa-hat {
        background-image: url(/images/play_animation/48/santa-hat.png);
    }
    .zomojianim-24-fire {
        background-image: url(/images/play_animation/48/fire.png);
        animation-timing-function: steps(98);
        animation-duration: 3s;
        animation-name: zomojianim-24-fire;
        background-size: 24px 2402px
    }
    .zomojianim-24-medicine {
        background-image: url(/images/play_animation/48/medicine.png);
    }
    .zomojianim-24-poop {
        background-image: url(/images/play_animation/48/poop.png);
    }
    .zomojianim-24-flag {
        background-image: url(/images/play_animation/48/flag.png);
    }
    .zomojianim-24-table-tennis {
        background-image: url(/images/play_animation/48/table-tennis.png);
    }
    .zomojianim-24-canoeing {
        background-image: url(/images/play_animation/48/canoeing.png);
    }
    .zomojianim-24-archer {
        background-image: url(/images/play_animation/48/archer.png);
    }
    .zomojianim-24-boxer {
        background-image: url(/images/play_animation/48/boxer.png);
    }
    .zomojianim-24-badminton {
        background-image: url(/images/play_animation/48/badminton.png);
    }
    .zomojianim-24-chess {
        background-image: url(/images/play_animation/48/chess.png);
    }
    .zomojianim-24-discus-throw {
        background-image: url(/images/play_animation/48/discus-throw.png);
        animation-timing-function: steps(105);
        animation-duration: 3s;
        animation-name: zomojianim-24-discus;
        background-size: 24px 2573px
    }
    .zomojianim-24-diver {
        background-image: url(/images/play_animation/48/diver.png);
        animation-timing-function: steps(65);
        animation-duration: 3s;
        animation-name: zomojianim-24-diver;
        background-size: 24px 1593px
    }
    .zomojianim-24-equestrian {
        background-image: url(/images/play_animation/48/equestrian.png);
        animation-timing-function: steps(80);
        animation-duration: 3s;
        animation-name: zomojianim-24-equestrian;
        background-size: 24px 1961px
    }
    .zomojianim-24-fencer {
        background-image: url(/images/play_animation/48/fencer.png);
    }
    .zomojianim-24-football {
        background-image: url(/images/play_animation/48/football.png);
    }
    .zomojianim-24-hockey {
        background-image: url(/images/play_animation/48/hockey.png);
    }
    .zomojianim-24-hurdler {
        background-image: url(/images/play_animation/48/hurdler.png);
    }
    .zomojianim-24-javelin-throw {
        background-image: url(/images/play_animation/48/javelin-throw.png);
        animation-timing-function: steps(109);
        animation-duration: 3s;
        animation-name: zomojianim-24-javelin;
        background-size: 24px 2671px
    }
    .zomojianim-24-judo {
        background-image: url(/images/play_animation/48/judo.png);
        animation-timing-function: steps(81);
        animation-duration: 3s;
        animation-name: zomojianim-24-judo;
        background-size: 24px 1985px
    }
    .zomojianim-24-long-jump {
        background-image: url(/images/play_animation/48/long-jump.png);
        animation-timing-function: steps(101);
        animation-duration: 3s;
        animation-name: zomojianim-24-jump;
        background-size: 24px 2475px
    }
    .zomojianim-24-pole-vault {
        background-image: url(/images/play_animation/48/pole-vault.png);
    }
    .zomojianim-24-athlete {
        background-image: url(/images/play_animation/48/athlete.png);
        animation-timing-function: steps(24);
        animation-duration: 1s;
        animation-name: zomojianim-24-athelete;
        background-size: 24px 589px
    }
    .zomojianim-24-rhythmic-gymnastics {
        background-image: url(/images/play_animation/48/rhythmic-gymnastics.png);
    }
    .zomojianim-24-shotput-throw {
        background-image: url(/images/play_animation/48/shotput-throw.png);
        animation-timing-function: steps(111);
        animation-duration: 3s;
        animation-name: zomojianim-24-shortput;
        background-size: 24px 2720px
    }
    .zomojianim-24-high-jump {
        background-image: url(/images/play_animation/48/high-jump.png);
        animation-timing-function: steps(101);
        animation-duration: 3s;
        animation-name: zomojianim-24-jump;
        background-size: 24px 2475px;
    }
    .zomojianim-24-snooker {
        background-image: url(/images/play_animation/48/snooker.png);
    }
    .zomojianim-24-baseball {
        background-image: url(/images/play_animation/48/baseball.png);
    }
    .zomojianim-24-cricket {
        background-image: url(/images/play_animation/48/cricket.png);
    }
    .zomojianim-24-foosball {
        background-image: url(/images/play_animation/48/foosball.png);
    }
    .zomojianim-24-basketball {
        background-image: url(/images/play_animation/48/basketball.png);
    }
    .zomojianim-24-shooter {
        background-image: url(/images/play_animation/48/shooter.png);
    }
}
